*.log

# Composer
/vendor/
composer.lock

# PHPCS local configuration
phpcs.xml

# PHPUnit
.phpunit.result.cache
/coverage/
/tests/coverage-html/
/tests/coverage.xml
/tests/coverage.txt
/tests/logs/

# MacOS
.DS_Store